body {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-size:25px; 
    background-color:lightgoldenrodyellow; 
    border-radius:10px;
    font-family: Courier New;
}